.body-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  max-height: 45rem;
  max-width: 1200px;
  margin: 0.7rem auto;
  gap: 0.6rem;
}

.left-section,
.middle-section,
.right-section {
  display: grid;
  gap: 0.5rem;
}

.body-image img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  display: block;
  cursor: pointer;
  transition: opacity 0.5s;
}

.body-image img:hover {
  opacity: 0.8;
}

.right-section img {
  object-position: center;
}

.middle-section img {
  height: 100%;
}
